<div class="wrapper">
    <div class="wrapper__a">A</div>
    <div class="wrapper__b">B</div>
    <div class="wrapper__c">C</div>
    <div class="wrapper__d">D</div>
    <div class="wrapper__e">E</div>
    <div class="wrapper__f">F</div>
</div>
<button (click)="alertMsg()">alertMsg</button>
<button (click)="next()">next</button>
<button (click)="subscribe1()">subscribe</button>
<button (click)="subscribe2()">subscribe</button>
<button (click)="subscribe3()">subscribe</button>
<h1>iteratorrepl:{{iteratorrepl}}</h1>
