<p>rxjs-learn works!</p>
{{aaa}}
<br>
<!-- <div [formGroup]="fff"> -->

    <!-- <input autofocus type="text" [(ngModel)]="aaa" prefix="+" mask="000 (00) 000 00 00" [showMaskTyped]="true"/> -->
    <!-- <input autofocus type="text" [(ngModel)]="ipaddr" mask="IP" [showMaskTyped]="true" /> -->
    ipaddr >>> {{ipaddr}}
    <!-- <p-inputMask  [(ngModel)]="ipaddr" ></p-inputMask> -->
    <!-- <p-inputMask mask="99-999999" [(ngModel)]="ipaddr" placeholder="99-999999"></p-inputMask> -->

<!-- </div> -->



<!-- <div class="ui-g-12 ui-md-4">
    <h3>Date Template</h3>
    <p-calendar >
        <ng-template pTemplate="date" let-date>
            <span [ngStyle]="{backgroundColor: (date.day < 21 && date.day > 10) ? '#81C784' : 'inherit'}"
                style="border-radius:50%;padding: .25em;width: 1.75em; height:1.75em; display:block;">
                {{date.day}}
            </span>
        </ng-template>
    </p-calendar>
</div> -->
